
@{
    ViewBag.Title = "Hakkinda";
}

<h2 style="color:#fff;"></h2>
<div class="well" style="opacity:0.9;">

    <h3>
        Ford Otosan'a Genel Bakış
    </h3>
    <p>


    </p>
    <p>
        Ford Otosan (Ford Otomotiv Sanayi A.Ş.), Ford Motor Company ve Koç Holding’in eşit oranda hisse sahibi oldukları halka açık bir şirkettir. 2004 yılından bu yana, Türkiye’nin en fazla ihracat yapan ilk 3 şirketi arasında yer alan Ford Otosan, son 8 yıldır otomotiv sektörü ihracat şampiyonu ve son 4 yıldır Türkiye ihracat şampiyonu olma başarısını göstermektedir. 2018 yılında da 5 kıtada 94 ülkeye yaptığı 5,7 milyar dolar tutarındaki araç ve parça ihracatı ile Türkiye ihracat şampiyonu olmuştur. Kocaeli’deki Gölcük ve Yeniköy Fabrikaları, Eskişehir’deki İnönü Fabrikası, İstanbul’daki Sancaktepe Ar-Ge Merkezi ve Yedek Parça Deposu ile 3 ana merkezde faaliyet gösteren Ford Otosan, 11.000’e yakın kişiye istihdam sağlamaktadır. Ford Otosan, Borsa İstanbul’ daki en değerli otomotiv şirketidir.
    </p>
    <p>
        Ford Otosan, 1.100 kişilik Ar-Ge mühendisi kadrosuyla Türkiye’nin otomotiv sektöründeki en büyük ve en yetkin Ar-Ge organizasyonuna sahiptir. Ford’un ağır ticari araçlarının, ilgili dizel motorlarının ve motor sistemlerinin küresel mühendislik merkezi, Ford’un hafif ticari araç tasarım ve mühendisliğinin destek merkezi konumundadır.
    </p>
    <p>
        1959’da kurulan Ford Otosan, 2018 yılı sonu itibariyle 455 bin ticari araç ve 75 bin adet motor ve 140 bin adet aktarma organı üretim kapasitesi sayesinde Ford Avrupa’nın en büyük ticari araç üretim merkezi konumundadır. Kocaeli ve İnönü Fabrikaları, Ford fabrikaları arasındaki değerlendirmelerde Ford’un “En İyi Araç Üretim Merkezleri” arasında gösterilmektedir.
    </p>
    <p>
        Bayileri ile kökleri çok eskilere dayanan bir iş ortaklığı ilişkisine sahip Ford Otosan, Türkiye’nin dört bir yanında, bu ortaklığı benimsemiş ve buna değer katan güçlü isimlerle temsil edilmektedir. Yine Türkiye’nin dört bir yanında uzman yetkili servisler aracılığı ile bakım, onarım ve servis hizmetleri sağlamaktadır. Ford Otosan, Ford Trucks iş birimi ile birlikte yurtdışında da distirbütörlük ve bayilikler atamakta, bayilikleri aracılığıyla servis ve yedek parça hizmeti vermektedir.
    </p>
    <p>
        Toplumsal sorumluluklar konusundaki duyarlılığıyla da öne çıkan Ford Otosan, faaliyet bölgelerinde okullar yaptırarak, meslek okullarına laboratuvarlar kurarak, ekipman ve burs sağlayarak eğitim kalitesinin yükselmesine katkıda bulunmaktadır. Ford Otosan, toplumsal cinsiyet eşitliği konusunda farkındalık çalışmaları da yürütmektedir.
    </p>

</div>